.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

.repeat-header {
  font-weight: bold;
}

.pointer-cursor {
  cursor: pointer;
  user-select: none;
}