<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <h3>Our Registry</h3>

        <p style="font-weight: bold;">
            As you know, we are registered with Amazon, but now we are also registered with Bed, Bath, and Beyond and have added a lot more stuff!
        </p>

        <p>For the largest selection, look at our <a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544950539&eventType=Wedding&pwsurl=" target="_blank">Bed, Bath, and Beyond registry</a>.</p>

        <p>There are more choices at our <a href="https://www.amazon.com/wedding/april-zaetz-miles-wells-cary-september-2017/registry/2ONQSJJRTSVSM" target="_blank">Amazon registry</a>.</p>
    </div>
</div>