<div class="col-sm-4 col-sm-offset-4">

	<h1><span class="fa fa-sign-in"></span> Reset Password</h1>

	<!-- show any messages that come back with authentication -->
	<div class="alert alert-danger" ng-if="this.message">{{ this.message }}</div>

	<!-- LOGIN FORM -->
	<form name="forgotPasswordForm" ng-submit="this.submit()" role="form" novalidate>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" ng-model="email" id="email" name="email" required />
			<div ng-messages="forgotPasswordForm.email.$error" ng-if="(forgotPasswordForm.email.$touched || forgotPasswordForm.email.$dirty) && forgotPasswordForm.email.$invalid"><div ng-messages-include="components/forgotPassword/forgotPasswordMessages.html"></div></div>
		</div>
		<div class="form-group">
			<label for="accessCode">Access Code</label>
			<input type="text" class="form-control" ng-model="accessCode" id="accessCode" name="accessCode" required />
			<div ng-messages="forgotPasswordForm.accessCode.$error" ng-if="(forgotPasswordForm.accessCode.$touched || forgotPasswordForm.accessCode.$dirty) && forgotPasswordForm.accessCode.$invalid"><div ng-messages-include="components/forgotPassword/forgotPasswordMessages.html"></div></div>
		</div>

		<button type="submit" ng-disabled="this.hasActiveRequest || !forgotPasswordForm.$valid" class="btn btn-warning btn-lg">Reset Password</button>
	</form>

	<hr>

	<p><a href="#/login">Back to Login</a></p>
	<p>Need an account? <a href="#/register">Register</a></p>
	<p>Or go <a href="#/">home</a>.</p>

</div>
