<!--bootstrap customization: http://getbootstrap.com/customize/?id=692399191e3d1109a63d876df18e3da8-->

<!doctype html>
<html ng-app="WeddingApp" class="full">
<head>
	<title>April and Miles Wedding</title>
	<link rel="stylesheet" href="/scripts/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/scripts/styles/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css"> <!-- load toastr -->
	<link rel="stylesheet" href="/scripts/styles/textAngular.css" type="text/css"><!-- load textAngular -->
	<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet"> <!-- <custom font -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

	<!-- Custom Styles -->
	<link rel="stylesheet" href="/scripts/styles/main.css">
</head>

<body ng-controller="HomeCtrl" ng-class="{'landing-bg': !showNavBar}">
<div class="container-fluid">

	<div class="row" ng-if="showNavBar">
		<nav class="navbar navbar-default">
			<div class=" col-sm-10 col-sm-offset-1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li ng-if="user"><a href="#/help"><i class="fa fa-life-bouy"></i> Help</a></li>
					<li ng-if="user"><a href="#/profile"><i class="fa fa-user"></i> <span ng-bind="user.Name"></span></a></li>
					<li ng-if="user"><a href="#/requests/songs"><i class="fa fa-music"></i> Song Requests</a></li>
					<li ng-if="user"><a href="#/hotel"><i class="fa fa-hotel"></i> Book Hotel</a></li>
					<li ng-if="user.isAdmin"><a href="#/blog/new"><i class="fa fa-pencil-square-o"></i> New Blog Post</a></li>
					<li ng-if="user.isAdmin"><a href="#/admin"><i class="fa fa-cog"></i> Admin Panel</a></li>
					<li ng-if="user"><a href="https://www.amazon.com/wedding/april-zaetz-miles-wells-cary-september-2017/registry/2ONQSJJRTSVSM" target="_blank"><i class="fa fa-amazon"></i> Registry</a></li>
					<li ng-if="user"><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
					<li ng-if="!user"><a href="#/login"><i class="fa fa-sign-in"></i> Login</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<ng-view></ng-view>

</div>

<!-- Scripts -->
<script src="/scripts/angular.min.js"></script>
<script src="/scripts/angular-resource.min.js"></script>
<script src="/scripts/angular-route.min.js"></script>
<script src="/scripts/angular-messages.js"></script>
<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js'></script>
<script src="https://use.fontawesome.com/4f1dae15ee.js"></script>
<script src="/scripts/WeddingApp.js"></script>

<!-- Directives -->
<script src="/shared/compareTo/compareToDirective.js"></script>

<!-- Components -->
<script src="/shared/plusMinusInput/plusMinusInput.js"></script>

<!-- Controllers -->
<script src="/components/login/loginController.js"></script>
<script src="/components/profile/profileController.js"></script>
<script src="/components/blogPost/blogPostController.js"></script>
<script src="/components/register/registerController.js"></script>
<script src="/components/home/homeController.js"></script>
<script src="/components/songRequest/songRequestController.js"></script>
<script src="/components/adminPanel/adminPanelController.js"></script>

<!-- Services -->
<script src="/components/songRequest/songRequestService.js"></script>
<script src="/components/blogPost/blogPostService.js"></script>
<script src="/components/adminPanel/adminPanelService.js"></script>
<script src="/shared/services/commonService.js"></script>
<script src="/shared/services/userService.js"></script>

</body>
</html>