<!doctype html>
<html ng-app="WeddingApp">
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<div class="container" ng-controller="HomeCtrl">

	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Angular Routing Example</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/profile" ng-show="$root.user"><i class="fa fa-user-circle-o"></i> Profile</a></li>
			<li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="#/requests/songs" ng-show="$root.user"><i class="fa fa-music"></i> Song Requests</a></li>
			<li><a href="#" ng-show="$root.user" ng-click="this.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
			<li><a href="#/login" ng-show="!$root.user"><i class="fa fa-sign-in"></i> Login</a></li>
		</ul>
	</nav>

	<ng-view></ng-view>

</div>

<script src="/scripts/angular.min.js"></script>
<script src="/scripts/angular-resource.min.js"></script>
<script src="/scripts/angular-route.min.js"></script>
<script src="/scripts/WeddingApp.js"></script>

<script src="/components/login/loginController.js"></script>
<script src="/components/profile/profileController.js"></script>
<script src="/components/register/registerController.js"></script>
<script src="/components/home/homeController.js"></script>
<script src="/components/songRequest/songRequestController.js"></script>
</body>
</html>