<div class="page-header text-center">
	<h1>Welcome to your profile, {{:: user.Name}}</h1>
</div>

<div class="row col-sm-10 col-sm-offset-1">

	<div class="col-sm-6">
		<div class="well">
			<h3>Change Your RSVP</h3>

			<form name="rsvpForm" ng-submit="this.updateRsvp()" role="form" novalidate>
				<div class="form-group">
					<br/>
					<label class="radio-inline">
						<input type="radio" name="rsvp" value="0" ng-model="rsvp" />
						No
					</label>
					<label class="radio-inline">
						<input type="radio" name="rsvp" value="1" ng-model="rsvp" />
						Yes - Just Me
					</label>
					<label class="radio-inline">
						<input type="radio" name="rsvp" value="2" ng-model="rsvp" />
						Yes - Plus One
					</label>
				</div>

				<button type="submit" class="btn btn-warning btn-lg">Update</button>
			</form>

		</div>
	</div>

	<div class="col-sm-6">
		<div class="well">
			<h3>Your song requests</h3>
			<div class="row repeat-header">
				<div class="col-sm-4">Song Title</div>
				<div class="col-sm-3">Artist</div>
				<div class="col-sm-3">Album</div>
			</div>

			<div class="row" ng-repeat="request in songRequests">
				<div class="col-sm-4">{{ request.SongName }}</div>
				<div class="col-sm-3">{{ request.Artist }}</div>
				<div class="col-sm-3">{{ request.Album }}</div>
			</div>
		</div>
	</div>

</div>
